@import "./variables/global";
@import "./reset";
@import "./themes/dark";
@import "./themes/light";

body {
  font: var(--font-m);
  color: var(--primary-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: var(--card-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.app {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}

.app_redesigned {
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background: var(--bg-redesigned);

  *::-webkit-scrollbar {
    width: 12px;  
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned);
    border: 1px solid var(--accent-redesigned);
    border-radius: 20px; 
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}
