@import "./variables/global";
@import "./reset";
@import "./themes/dark";
@import "./themes/light";

body {
  font: var(--font-m);
  color: var(--primary-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}