@import "./variables/global";
@import "./reset";
@import "./themes/dark";
@import "./themes/light";

body {
  font: var(--font-m);
  color: var(--primary-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: var(--card-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.app {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}