.LoginForm {
  width: 100%;
  max-width: 320px;

  > .input {
  }

  > .button {
    margin-left: auto;
  }

  > .error {
    color: var(--dark-bg-redesigned)
  }

  > .register {
    margin-top: 12px;
    color: var(--primary-color);
  }
}