.Text {
  > .title {
    color: var(--text-redesigned);
  }

  > .text {
    color: var(--text-redesigned);
  }
}

.primary {
  > .title {

  }

  > .text {

  }
}

.error {
  > .title {
    color: var(--red-dark);
  }

  > .text {
    color: var(--red-light);
  }
}

.accent {
  > .title {
    color: var(--accent-redesigned);
  }

  > .text {
    color: var(--accent-redesigned);
  }
}

.M {
  > .title {
    font: var(--font-m-redesigned)
  }

  > .text {
    font: var(--font-xs-redesigned)
  }
}

.L {
  > .title {
    font: var(--font-l-redesigned)
  }

  > .text {
    font: var(--font-m-redesigned)
  }
}

.XL {
  > .title {
    font: var(--font-xl-redesigned)
  }

  > .text {
    font: var(--font-l-redesigned)
  }
}