.UsersListItem {
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: 4px;
}

@media print {
  .UsersListItem {
    font-size: 12px !important;
  }
}
