.NotificationList {
  
}

.loader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.noItems {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}