body.light {
  --bg-color: #adb4ff;
  --invert-bg-color: #dcdcf1;
  --primary-color: #080b14;
  --invert-primary-color: #40509c;
  --secondary-color: #39AFEA;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}