.NotificationButton {

}

.popover {
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: var(--invert-bg-color);
}

.notificationButton {
  position: relative;
  margin-right: 12px;

  .notificationIcon {
    fill: var(--invert-primary-color);
    stroke: var(--primary-color);
  }

  .unreadAmount {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 8px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 50%;
  }
}