.RequestSettlementForm {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  margin: 0 auto;
  
  .title {
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 20px;
  }

  .ckheckboxContainer {
    width: 100%;
    padding: 12px 28px;
  }

  .button {
    margin: 0 auto;

    .buttonText {
      text-transform: capitalize;
    }
  }
}