.Page {
  flex-grow: 1;
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--navbar-height));
  padding: 24px 16px 24px 48px;
  overflow-y: auto;
}

.triggerWrapper {
  position: relative;
  width: 100%;
}

.trigger {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}