.main {
  font: var(--font-l);

  > .back {
    margin-bottom: 12px;
  }

  > .comments {
    margin-top: 36px;
  }

  > .recommendationsTitle {
    margin-top: 36px;
  }

  > .recommendations {
    flex-wrap: nowrap;
    margin-top: 18px;
    overflow-x: scroll;
  }
}

.notFound {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  
  &__text {
    font: var(--font-l);
    color: var(--red-dark)
  }
}